{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/news.css' %}" />
    {{ block.super }}
{% endblock extra_head %}
{% block content %}
    {% if page.content %}
        <div class="content">
            {% for content_block in page.content %}
                {% if content_block.block_type == "banner" %}
                    {% include "snippets/banner.html" %}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    <div class="container">
        <div class="breadcrumb my-5">{% include "snippets/breadcrumb.html" %}</div>
        {% if page.content %}
            <div class="content">
                {% for content_block in page.content %}
                    {% if content_block.block_type != "banner" %}{{ content_block.value }}{% endif %}
                {% endfor %}
            </div>
        {% endif %}
        <div class="news">
            <div class="row row-cols-2 news-card-row">
                {% for news in newspages|slice:"0:2" %}
                    {% with news=news.specific %}
                        <div class="col news-card-col">
                            <div class="card news-card">
                                <a href="{{ news.url }}">
                                    <div class="news-image">
                                        {% with news.main_image as main_image %}
                                            {% if main_image %}
                                                {% image main_image fill-700x350 %}
                                            {% endif %}
                                        {% endwith %}
                                    </div>
                                    <div class="news-title-wrap">
                                        <p class="news-title">{{ news.title }}</p>
                                    </div>
                                    <p class="news-date">{{ news.first_published_at|date:"Y. m. d" }}</p>
                                </a>
                            </div>
                        </div>
                    {% endwith %}
                {% endfor %}
            </div>
            <div class="row news-list-row">
                {% for news in newspages|slice:"2:" %}
                    <a href="{{ news.url }}">
                        <div class="row news-list-one">
                            <div class="col-9 news-list-col-title">
                                <span class="news-title">{{ news.title }}</span>
                            </div>
                            <div class="col-3 news-list-col-date">
                                <span class="news-date">{{ news.first_published_at|date:"Y. m. d" }}</span>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}
{% block extra_body %}
    <script>
        document.addEventListener("DOMContentLoaded", function (e) {
          // safe url update
          function safeUrlUpdate(term, value) {
            // Get the current URL and search parameters
            const url = new URL(window.location.href);
            const searchParams = new URLSearchParams(url.search);

            // Update or add the 'search' parameter
            value ? searchParams.set(term, value) : searchParams.delete(term);

            // Update the URL with the new search parameters
            url.search = searchParams.toString();
            return url.toString();
          }

          // url retained search
          document.querySelectorAll(".search-form").forEach(function (form) {
            form.addEventListener("submit", function (e) {
              e.preventDefault();
              window.location.href = safeUrlUpdate("search", this.search.value);
            });
          });

          // better cursor position on focus
          document.querySelectorAll('[name="search"]').forEach(function (search) {
            search.addEventListener("focus", function (e) {
              e.preventDefault();
              // move cursor
              this.setSelectionRange(0, this.value.length);
              this.selectionStart = this.selectionEnd = this.value.length;
            });

            // search box focus
            const urlParams = new URLSearchParams(window.location.search);
            if (urlParams.has('search')) {
              search.focus();
            }
          });

          // per_page
          document.querySelectorAll(".per-page-select").forEach(function (select) {
            select.addEventListener("change", function (e) {
              e.preventDefault();
              const value = this.value == "25" ? null : this.value;
              window.location.href = safeUrlUpdate("per_page", value);
            });
          });
        });
    </script>
    {{ block.super }}
{% endblock extra_body %}
