{% extends "base.html" %}
{% load wagtailcore_tags static ratings comments comments_xtd crispy_forms_tags %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/news.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    {{ block.super }}
{% endblock extra_head %}
{% block content %}
    {% include "snippets/navbar.html" %}
    <div class="container">
        <div class="breadcrumb my-5">{% include "snippets/breadcrumb.html" %}</div>
        <h1 class="title my-5">{{ page.title }}</h1>
        <p class="news-created my-5">{{ page.first_published_at|date:"Y. m. d" }}</p>
        <hr/>
        {% if page.content %}
            <div class="content my-5">
                {% for content_block in page.content %}
                    {% if content_block.block_type != "banner" %}{{ content_block.value }}{% endif %}
                {% endfor %}
            </div>
        {% endif %}
        <hr/>
        {% block child_content %}
        {% endblock child_content %}
        <ul class="prev-next-wrap my-5">
            {% with page.get_prev_siblings.live.first as prev %}
                {% if prev %}
                    <li>
                        <a href="{% pageurl prev %}">이전 글: {{ prev.title }}</a>
                    </li>
                {% endif %}
            {% endwith %}
            {% with page.get_next_siblings.live.first as next %}
                {% if next %}
                    <li>
                        <a href="{% pageurl next %}">다음 글: {{ next.title }}</a>
                    </li>
                {% endif %}
            {% endwith %}
        </ul>
        <div class="btn-wrap">
            <a href="{% pageurl page.get_parent %}">
                <button class="list-btn">목록보기</button>
            </a>
        </div>
    </div>
{% endblock content %}
{% block extra_body %}
    {{ block.super }}
{% endblock extra_body %}
