{% load wagtailimages_tags %}
{% block extra_head %}
    <style>
        .swiper-button-next, .swiper-button-prev {
          color: #dedede80;
        }
        .dark-overlay {
          background-color: black;
        }
        .banner-opacity {
          opacity: 0.6;
        }
        .main-title-area {
          color: white;
          .main-banner-title {
            font-size: 3.5rem;
          }
          .main-banner-sub-title {
            font-size: 1.5rem;
          }
        }
        .title-wrapper {
          height: 150px;
          background-color: white;
          .page-title-area {
            top: -135px;
            left: 0;
            width: 80%;
            height: 150px;
            background-color: white;
            border-top-right-radius: 50px;
            .page-title {
              font-size: 3rem;
              color: #2E1F5E;
              font-weight: bold;
            }
            .page-description {
              color: #515151;
            }
          }
        }
        .title-wrapper::before {
          content: '';
          position: absolute;
          top: -135px;
          left: -700px;
          bottom: 0;
          width: 100%;
          background-color: white;
        }
        .other-title-area {
          text-align: center;
          color: white;
          .other-title {
            font-size: 3.5rem;
            color: white;
          }
          .other-description {
            p {
              margin: 0;
            }
            p:first-child {
              font-weight: bold;
              margin-bottom: 10px;
            }
          }
        }
    </style>
{% endblock extra_head %}
<div class="{% if content_block.value.fit_container %}container{% endif %}">
    <div class="swiper position-relative dark-overlay">
        <div class="swiper-wrapper">
            {% with content_block.value.height as height %}
                {% for slide in content_block.value.slides %}
                <!-- portal banner height 700px -->
                    {% if page.slug == "portal" %}
                        <div class="swiper-slide">
                            <div class="banner-opacity">
                                {% if height == "300" %}
                                    {% image slide.value.image max-3000x300 class="w-100 object-fit-cover" alt="slide" %}
                                {% elif height == "400" %}
                                    {% image slide.value.image max-3000x400 class="w-100 object-fit-cover" alt="slide" %}
                                {% elif height == "500" %}
                                    {% image slide.value.image max-3000x500 class="w-100 object-fit-cover" alt="slide" %}
                                {% elif height == "600" %}
                                    {% image slide.value.image max-3000x600 class="w-100 object-fit-cover" alt="slide" %}
                                {% elif height == "700" %}
                                    {% image slide.value.image max-3000x700 class="w-100 object-fit-cover" alt="slide" %}
                                {% elif height == "800" %}
                                    {% image slide.value.image max-3000x800 class="w-100 object-fit-cover" alt="slide" %}
                                {% endif %}
                            </div>
                            <div class="main-title-area container position-absolute z-3 translate-middle top-50 start-50 w-100 justify-content-center">
                                <div class="main-description">{{ slide.value.description }}</div>
                            </div>
                        </div>
                    <!-- page banner height 500px -->
                    {% elif page.get_parent.slug == "page" %}
                        <div class="swiper-slide">
                            {% if height == "300" %}
                                {% image slide.value.image max-3000x300 class="w-100 object-fit-cover" alt="slide" %}
                            {% elif height == "400" %}
                                {% image slide.value.image max-3000x400 class="w-100 object-fit-cover" alt="slide" %}
                            {% elif height == "500" %}
                                {% image slide.value.image max-3000x500 class="w-100 object-fit-cover" alt="slide" %}
                            {% elif height == "600" %}
                                {% image slide.value.image max-3000x600 class="w-100 object-fit-cover" alt="slide" %}
                            {% elif height == "700" %}
                                {% image slide.value.image max-3000x700 class="w-100 object-fit-cover" alt="slide" %}
                            {% elif height == "800" %}
                                {% image slide.value.image max-3000x800 class="w-100 object-fit-cover" alt="slide" %}
                            {% endif %}
                            <div class="container-fluid bg-white">
                                <div class="container title-wrapper position-relative">
                                    <div class="page-title-area container position-absolute justify-content-center pt-4">
                                        <div class="container">
                                            <p class="page-title">{{ page.title }}</p>
                                            <p class="page-description">{{ slide.value.description }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- other banner height 600px -->
                    {% else %}
                        <div class="swiper-slide">
                            <div class="banner-opacity">
                                {% if height == "300" %}
                                    {% image slide.value.image max-3000x300 class="w-100 object-fit-cover" alt="slide" %}
                                {% elif height == "400" %}
                                    {% image slide.value.image max-3000x400 class="w-100 object-fit-cover" alt="slide" %}
                                {% elif height == "500" %}
                                    {% image slide.value.image max-3000x500 class="w-100 object-fit-cover" alt="slide" %}
                                {% elif height == "600" %}
                                    {% image slide.value.image max-3000x600 class="w-100 object-fit-cover" alt="slide" %}
                                {% elif height == "700" %}
                                    {% image slide.value.image max-3000x700 class="w-100 object-fit-cover" alt="slide" %}
                                {% elif height == "800" %}
                                    {% image slide.value.image max-3000x800 class="w-100 object-fit-cover" alt="slide" %}
                                {% endif %}
                            </div>
                            <div class="other-title-area container position-absolute z-3 translate-middle top-50 start-50 w-100 h-100 p-5 d-flex flex-column justify-content-center">
                                <p class="other-title">{{ page.title }}</p>
                                <div class="other-description">{{ slide.value.description }}</div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endwith %}
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
        <script>
          (function() {
            const swiper = document.currentScript.parentNode;
            new Swiper(swiper, {

              centeredSlides: true,
              spaceBetween: 10,
              loop: true,
              speed: 1.0 * 1000,
              autoplay: {
                delay: 2500,
                disableOnInteraction: true,
              },
              pagination: {
                el: swiper.querySelector(".swiper-pagination"),
                clickable: true,
              },

              navigation: {
                nextEl: swiper.querySelector(".swiper-button-next"),
                prevEl: swiper.querySelector(".swiper-button-prev"),
              },
            });
          }());
        </script>
    </div>
</div>
