{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
<div class="footer-container">
    <footer class="text-white" style="background-color: #292a2e">
        <div class="container">
            <section class="mt-5">
                <div class="row d-flex pt-3">
                    <div class="logo-style col-md-2">
                        <a href="#!">
                            <img src="{% static "image/logo-white.png" %}" alt="hrdpuroom logo" width="120px" />
                        </a>
                    </div>
                    <div class="col-md-2">
                        <h2 class="text-uppercase">
                            <a href="#!" class="text-menu">이용약관</a>
                        </h2>
                    </div>
                    <div class="col-md-2">
                        <h2 class="text-uppercase">
                            <a href="#!" class="text-menu">개인정보처리방침</a>
                        </h2>
                    </div>
                    <div class="col-md-2">
                        <h2 class="text-uppercase">
                            <a href="#!" class="text-menu">공지사항</a>
                        </h2>
                    </div>
                    <div class="col-md-2">
                        <h2 class="text-uppercase">
                            <a href="#!" class="text-menu">찾아오시는 길</a>
                        </h2>
                    </div>
                    <div class="col-md-2">
                        <h2 class="text-uppercase">
                            <a href="#!" class="text-menu">Contact</a>
                        </h2>
                    </div>
                </div>
            </section>
            <hr class="my-2" />
            <div class="justify-content-end"></div>
            <div class="ft-content col-md-12">
                <div class="col-lg-12">
                    <span>(주)푸름인재개발원 | 경기도 성남시 수정구 위례광장로 19, 아이페리온 12층 1201호</span>
                    <span>| 대표이사: 김미숙</span>
                </br>
                <span>Fax: 02-6281-9348 | E-mail: info@puroom.net</span>
                <span>| 개인정보책임자: 김석환</span>
            </br>
            <span>사업자등록번호: 638-86-01526</span>
        </br>
        <span>Copyright ⓒ 2024 주식회사 푸름인재개발원. All Rights Reserved</span>
    </div>
</div>
<div class="bt-link col-md-12">
    <a href="https://www.youtube.com/channel/UCYvUert3wnoIi0XBW2FYzrg"
       class="sns-icon me-4"
       aria-label="Visit our YouTube channel"
       rel="noopener noreferrer"
       target="_blank">
        <i class="fab fa-youtube"></i>
    </a>
    <a href="https://www.instagram.com/udacity_partner/"
       class="sns-icon me-4"
       aria-label="Visit our Instagram profile"
       rel="noopener noreferrer"
       target="_blank">
        <i class="fab fa-instagram"></i>
    </a>
    <a href="https://www.linkedin.com/in/udacitykoreapartner/"
       class="sns-icon me-4"
       aria-label="Visit our LinkedIn profile"
       rel="noopener noreferrer"
       target="_blank">
        <i class="fab fa-linkedin"></i>
    </a>
</div>
</div>
<div class="bg-dark text-center">
    <div class="tel">
        <div>고객센터 1544-6629 | 평일 09:00~18:00(점심시간 12:00~13:00)</div>
    </div>
</div>
</footer>
</div>
