{% load wagtailcore_tags wagtailimages_tags %}
<div class="d-flex align-items-center">
    {% if page_content_block.value.icon %}
        {% image page_content_block.value.icon height-40 class="me-3" alt="icon" %}
    {% endif %}
    <div class="flex-grow-1">{{ page_content_block.value.description }}</div>
    <p class="align-self-end">
        <a href="{% pageurl page_content_block.value.page_content_home %}"
           class=":ore-link text-decoration-none">
          <span class="more-text me-1">더 보기</span><i class="fa-solid fa-angle-right"></i>
        </a>
    </p>
</div>
